[Unit]
Description=Run backend flask server

[Service]
User=root
Type=simple
EnvironmentFile=/etc/environment
WorkingDirectory=/root/msg_server
ExecStart=/usr/bin/python3 app.py -prod

[Install]
WantedBy=multi-user.target