{{define "yield"}}
<script type="text/javascript" src="api/v1/script/randomJoke.js"></script>

<div class="container">
  <div class="row">
    <div class="col text-center">
    <br><br><br>
    <h4><pre id="advice" > Jokes from the internet</pre></h4>
    <textarea style="font-weight: bold; background-color: #FFFFFF; color: #000000; font-size: 24px;" disabled class="form-control" id="textBox" rows="5" columns="5"></textarea>
    <br>
    </div>
</div>
</div>

{{end}}