[Unit]
Description=Generate Probability regimes

[Service]
User=root
Type=simple
EnvironmentFile=/etc/environment
WorkingDirectory=/root/mustafa_m/scripts/
ExecStart=/usr/bin/python3 regime.py

[Install]
WantedBy=multi-user.target