[Unit]
Description=Schedules the regime data collection service
Requires=regime.service

[Timer]
Unit=regime.service
OnCalendar=Sat *-*-* 2:00:00

[Install]
WantedBy=timers.target