[Unit]
Description=Schedules the financial data collection service
Requires=finance.service

[Timer]
Unit=finance.service
OnCalendar=Mon,Tue,Wed,Thu,Fri *-*-* 2:00:00

[Install]
WantedBy=timers.target