{{define "yield"}}
<div class = "container px-4">
<br>

<script type="text/javascript" src="api/v1/script/articleLanding.js"></script>

<div id="posts">

</div>

<br>
<nav aria-label="Page navigation example">
<ul class="pagination">
<li class="page-item"><button class="btn btn-secondary" style="display: none;" id="Next">Next</button></li>
</ul>
</nav>

</div>

{{end}}