{{define "yield"}}
<br>
<p> I'm available and easy to reach at the following: </p>
<ul>
<li> <a href="https://www.linkedin.com/in/mustafa0001/"> LinkedIn </a>
<li> <a href="https://www.github.com/momus2000"> Github </a>
<li> <a href="mailto:muhammadmustafa4000@gmail.com"> My Email </a>
</ul>
{{end}}