{{define "yield"}}
<style>
span.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}
</style>
<br>
<p> I'm available and easy to reach at the following: </p>
<ul>
<li> <a href="https://www.linkedin.com/in/mustafa0001/"> LinkedIn </a>
<li> <a href="https://www.github.com/momus2000"> Github </a>
<li> <span class="reverse">(maps tneverp ot cigam SSC) moc.liamg@0002afatsumdammahum</span> </li>
</ul>
{{end}}